SharedCardGame/Service References/ScgServiceLibrary/Service57.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/ScgBroadcastorService/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ScgServiceLibrary" />
  <xs:element name="RegisterClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clientProtocolVersion" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyServer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ScgServiceLibrary" minOccurs="0" name="mouseEventData" nillable="true" type="q1:MouseEventDataType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyServerWatchdog">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ScgServiceLibrary" minOccurs="0" name="watchdogData" nillable="true" type="q2:WatchdogDataType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyServerCmd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ScgServiceLibrary" minOccurs="0" name="clientCommandData" nillable="true" type="q3:ClientCommandDataType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyServerChatMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ScgServiceLibrary" minOccurs="0" name="chatMessageData" nillable="true" type="q4:ChatMessageDataType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BroadcastToClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ScgServiceLibrary" minOccurs="0" name="stateChangeEventData" nillable="true" type="q5:StateChangeEventDataType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BroadcastChatMessageToClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ScgServiceLibrary" minOccurs="0" name="chatMessageData" nillable="true" type="q6:ChatMessageDataType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BroadcastBadProtocolVersion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="serverProtocolVersion" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>